@model Factory.Models.Machine;

@{
    ViewData["Title"] = "Machines";
}

<div class="container">
  <div class="text-center">
    <h1 class="display-4">Machines - Details</h1>
  </div>
  <div class="container content">
    <h3>Name: @Model.Name</h3>
    <h3>Description: @Model.Description</h3>
    <h3>Installation Date: @Model.InstallationDate.ToShortDateString()</h3>

    @Html.ActionLink("Remove Machine", "Delete", "Machines", new { id = Model.MachineId }, new { @class = "btn btn-block btn-warning" })
    @Html.ActionLink("Edit Machine", "Edit", "Machines", new { id = Model.MachineId }, new { @class = "btn btn-block btn-primary" })

    @* TODO add engineers licensed to work on section *@
  </div>
</div>
