@model Factory.Models.Engineer;

@{
    ViewData["Title"] = "Engineers";
}

<div class="container">
  <div class="text-center">
    <h1 class="display-4">Engineers - Details</h1>
  </div>
  <div class="container content">
    <h3>Name: @Model.Name</h3>
    <h3>Hire Date: @Model.HireDate.ToShortDateString()</h3>

    <div class="container">
      @if (@Model.JoinEntities.Count == 0)
      {
        <p>This Engineer has no licenses for work on machinery.</p>
      }
      else
      {
        <h4>Engineer is able to work on the following machines:</h4>
        <div class="container d-flex flex-column">
          @foreach (var mach in Model.JoinEntities)
          {
            <div>@mach.Machine.Name</div>
          }
        </div>
      }
    </div>

    @Html.ActionLink("Remove Engineer", "Delete", "Engineers", new { id = Model.EngineerId }, new { @class = "btn btn-block btn-warning" })
    @Html.ActionLink("Edit Engineer", "Edit", "Engineers", new { id = Model.EngineerId }, new { @class = "btn btn-block btn-primary" })

  </div>
</div>
