@using Factory.Models;

@{
    ViewData["Title"] = "Dr. Sillystringz's Factory";
}

<div class="container">
  <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Dr. Sillystringz's Factory Administration</h2>
  </div>
  <div class="container row content">
    <div class="col-sm-6 card">
      @if (ViewBag.Engineers.Count == 0)
      {
        <h3>No Engineers Registered Yet</h3>
      }
      else
      {
        <h3>All Engineers:</h3>
        @foreach (Engineer eng in ViewBag.Engineers)
        {
          @Html.ActionLink(@eng.Name, "Details", "Engineers", new { id = @eng.EngineerId }, new { @class = "btn btn-block btn-info" })
        }
      }
    </div>

    <div class="col-sm-6 card">
      @if (ViewBag.Machines.Count == 0)
      {
        <h3>No Machines Registered Yet</h3>
      }
      else
      {
        <h3>All Machines:</h3>
        @foreach (Machine mach in ViewBag.Machines)
        {
          @Html.ActionLink(@mach.Name, "Details", "Machines", new { id = @mach.MachineId }, new { @class = "btn btn-block btn-info" })
        }
      }
    </div>

  </div>
</div>
